/*======================================
Theme Name: PencilLabs
Theme URI: https://divicake.com/
Description: Child theme para PencilLabs
Version: 1.0
Author: DevDon
Author URI: https://divicake.com/
Template: Divi
======================================*/


/* You can add your own CSS styles here. Use !important to overwrite styles if needed. */

/*** MENU HEADER ***/

.hide-header {
opacity: 0;
margin-top: -200px !important;
}
 
.show-header {
opacity: 1;
margin-top: 0px !important;
}
 
#global-header-section, #cs-scrollmenu {
-webkit-transition: all 0.5s ease !important;
-moz-transition: all 0.5s ease !important;
-o-transition: all 0.5s ease !important;
-ms-transition: all 0.5s ease !important;
transition: all 0.5s ease !important;
}
/*** FEATURED SLIDER HOME ***/

.cs_header-slider h1 {
    font-weight: 700;
 }
 /***  BLOG CAROUSEL LAYOUT ***/
 .blog-carousel-2 .slick-list {
    transform-style: preserve-3d;
    perspective: 1440px;
 }
 .blog-carousel-2 .slick-track {
    transform-style: preserve-3d;
    transform: translateZ(1200px) rotateY(0deg);
 }
 .blog-carousel-2 .slick-slide.slick-current {
    transform: translateZ(-1200px) rotateY(0deg);
 }
 .blog-carousel .slick-slide,  .blog-carousel-2 .slick-slide  {
    float: left;
    margin: 0.5vw;
}
.blog-carousel .et_pb_post, .blog-carousel-2 .et_pb_post {
    margin-bottom: 20px;
}
.blog-carousel .et_pb_post img, .blog-carousel-2 .et_pb_post img {
    min-height: 335px;
    max-height: 335px;
    height: 100%;
    object-fit: cover;
}
.carousel-posts-text.cs-hidden {
    visibility: hidden;
}
.carousel-posts-text {
    visibility: visible;
    min-height: 360px;
    display: flex;
    flex-direction: column;
}
.carousel-posts-text .post-meta {
    order: 1;
}
.carousel-posts-text .entry-title {
    order: 2;
}
.carousel-posts-text .post-content {
    order: 3;
}
.blog-carousel .slick-arrow {
    font-size: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family:'ETmodules';
    color: #FFB713;
    width: 48px;
  	height: 48px;
    border-radius:50%;
    border: 2px solid #024F62;
    background-color: #FBF6EA;
    position: absolute;
    margin-top: -15px;
    cursor: pointer;
    z-index: 500;
}
.blog-carousel-2 .slick-arrow {
    font-size: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family:'ETmodules';
    color: #FFB713;
    width: 48px;
  	height: 48px;
    border-radius:50%;
    border: 2px solid #024F62;
    background-color: #FBF6EA;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    z-index: 500;
}
.blog-carousel-2 .next-button {
    right: 0;
}
.blog-carousel .back-button {   
    top: 60%;
    left: 25%;
}
.blog-carousel .next-button {
    top: 60%;
    right: 25%;
}

/***  BLOG GRID LAYOUT ***/
.et_pb_post a.more-link {
    margin-top: 15px;
    float: right;
    margin-right: 20px;
}
.et_pb_post a.more-link:after {
    font-family:'ETmodules';
    font-size: 20px;
    content: "\45";
    position:absolute;
}
.cs-blog .et_pb_post {
    display: flex;
    flex-direction: column;
}
.cs-blog .size-1of3:nth-child(2) {
    margin-top: 20px;
}
.cs-blog .et_pb_post .et_pb_image_container {
    order: 1;
    margin: -20px -20px 0px -30px;
}
.cs-blog .et_pb_post .post-meta {
    order: 2;
    padding-top: 15px;
}
.cs-blog .et_pb_post .entry-title {
    order: 3;
}
.cs-blog .et_pb_post .post-content {
    order: 4;
}
.cs-blog .et_pb_post .entry-featured-image-url {
    margin-bottom: 0px;
}
.cs-blog .et_pb_post .et_pb_image_container:after {
    content: "";
    position:absolute;
    color: #006077;
    width: 0;
    height: 0;
    border-top: 10px solid #006077;
    border-left: 10px solid transparent;
}
.cs-blog .et_pb_post .et_pb_image_container:before {
    content: "";
    bottom: -10px;
    left: 10px;
    position:absolute;
    background-color: #FFB713;
    width: 57px;
    height: 10px;
}

/*** CASES SLIDER HOME ***/

.cs-slider .et_pb_media_alignment_center .et_pb_slide_image {
    top: 40%;
}
.cs-slider .cs_img_description .et_pb_slide_content {
    position: absolute;
    bottom: 0;
    padding-top: 3em;
    width: 50%;
}
.cs-slider .et-pb-controllers {
    top:10%;
    text-align:right;
    padding-right: 10%;
}
.cs-slider .et-pb-controllers a {
    font-size: 0px;
    width: 15px;
    height: 15px;
    background-color:#E5E5E5 !important;
    opacity: 1;
}
.cs-slider .et-pb-controllers .et-pb-active-control {
    background-color:#006077 !important;
}

/*** FEATURED SLIDER HOME ***/
.cs-step-by-step>.cs-step-by-step-1{
    width: 10% !important;
    margin-right: 5% !important;
}
.cs-step-by-step>.cs-step-by-step-2 {
    width: 80% !important;
    margin-right: 5% !important;
}
/*** 3d carousel posts ***/
#cs_carousel-3d {
    width: 100%;
}
#cs_carousel-3d .et_pb_ajax_pagination_container {
    width: 450px;
    height: 600px;
    perspective: 1450px;
    margin: 20px auto;
    position: relative;
}
.cs_img-carousel {
	display: block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: margin .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateZ(1059px);
    transform: translateZ(1059px);
}
.cs_img-carousel .entry-featured-image-url {
	display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding: 0 10px;
}
.cs_img-carousel img {
    width: 100%;
    height: 100%;;
    object-fit: cover;
    -o-object-fit: cover;
}
.carousel-text {
    position: absolute;
    top: 52%;
    padding: 0 10px;
}
.carousel-text article {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    -o-transition: all 0.5s ease !important;
    -ms-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
}
.carousel-text article.active {
    opacity: 1;
    display: block;
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em 0;
}
.carousel-text article h2 {
    order:2;
}
.carousel-text article .post-meta {
    order:1;
}
.carousel-text article .post-content {
    order:3;
}
#cs_carousel-3d .previous-button, #cs_carousel-3d .next-button {
    font-family: 'ETmodules';
    color: #FFB713;
    font-size: 42px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #024F62;
    background-color: #E5E5E5;
    position: absolute;
    cursor: pointer;
    z-index: 500;
    bottom: 20%;
}
#cs_carousel-3d .previous-button {
    left:-90px;
}
#cs_carousel-3d .next-button {
    right: -80px;
}

#cs_carousel-3d .entry-featured-image-url:nth-child(1) { transform: rotateY(  0deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(2) { transform: rotateY( -24deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(3) { transform: rotateY( -48deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(4) { transform: rotateY(-72deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(5) { transform: rotateY(-96deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(6) { transform: rotateY(-120deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(7) { transform: rotateY(-144deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(8) { transform: rotateY(-168deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(9) { transform: rotateY(-192deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(10) { transform: rotateY(-216deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(11) { transform: rotateY(-240deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(12) { transform: rotateY(-264deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(13) { transform: rotateY(-288deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(14) { transform: rotateY(-312deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(15) { transform: rotateY(-336deg) translateZ(-1059px); }
#cs_carousel-3d .entry-featured-image-url:nth-child(16) { transform: rotateY(-340deg) translateZ(-1059px); }